html{
  background-color: rgb(200, 227, 250);
}

.inputs{
  margin: 1rem;
}

.item {
  max-width: 20rem;
  border: 0.3rem solid #ccc;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 0.5rem;
}


h4 {
  font-size: 0.5;
  margin: 0.5rem;
  }



